<h1>Todos los posts</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Tetxo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
    <td><%= link_to 'Show', post_path(post)  %></td>
    <td><%= link_to 'Editar', action: :edit, id: post.id, method: :patch %></td>
    <td><%= link_to 'Eliminar', { action: :destroy, id: post.id }, method: :delete, data: { confirm: '¿Esta seguro de eliminar?'} %></td>
  </tr> 
<% end %>
</table>
<br />
<br />
<br />

<%= link_to 'Nuevo Post', posts_new_path %>
